@import 'base/all';

@import 'modules/tiny';
@import 'modules/animate';

@import 'partials/header';
@import 'partials/footer';

.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 res(15, 20);
  margin: 0 auto;
}

